In [1]:
import pandas as pd
from pathlib import Path

csvpath= "Resources/Airbnb_cleaned.csv"

df= pd.read_csv(csvpath)

df = df.drop(columns=['Unnamed: 0'])

# Airbnb Map Section

In [2]:
# Listing count by NYC neighborhood dataframe
listing_count = df.groupby('neighbourhood')['id'].count().reset_index(name='number of listings')
listing_count.rename(columns={'neighbourhood': 'neighborhood'}, inplace=True)
listing_count

        neighborhood  number of listings
0           Allerton                  94
1      Arden Heights                   9
2           Arrochar                  50
3            Arverne                 221
4            Astoria                1831
..               ...                 ...
219  Windsor Terrace                 322
220        Woodhaven                 189
221         Woodlawn                  29
222          Woodrow                   3
223         Woodside                 577

[224 rows x 2 columns]

In [3]:
# NYC neighborhood stats CSV (/Resources)
avg_df = df.groupby(['neighbourhood group', 'neighbourhood'])[['price', 'service fee', 'review rate number']].mean().reset_index()
avg_df.rename(columns={'neighbourhood group': 'borough', 'neighbourhood': 'neighborhood'}, inplace=True) 
avg_df['price'] = avg_df['price'].astype('int64')
avg_df['service fee'] = avg_df['service fee'].astype('int64')
avg_df['review rate number'] = avg_df['review rate number'].round(2)
merged_avg_df = pd.merge(avg_df, listing_count, on='neighborhood', how='inner')
merged_avg_df.to_csv('Resources/neighborhood_stats.csv', index=False)
merged_avg_df

,borough,neighborhood,price,service fee,review rate number,number of listings
0,Bronx,Allerton,648,129,3.30,94
1,Bronx,Baychester,524,104,3.52,29
2,Bronx,Belmont,662,132,3.27,44
3,Bronx,Bronxdale,574,114,3.23,47
4,Bronx,Castle Hill,480,96,2.81,16
...,...,...,...,...,...,...
219,Staten Island,Tottenville,657,131,2.38,13
220,Staten Island,West Brighton,635,127,2.95,57
221,Staten Island,Westerleigh,477,95,3.60,5
222,Staten Island,Willowbrook,638,127,2.00,3
223,Staten Island,Woodrow,709,142,4.00,3